@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.inter {
  font-family: 'Inter', sans-serif;
}
.urbanist {
  font-family: 'Urbanist', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #161622;
  border-radius: 0;
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 13rem;
  padding: 1rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

@keyframes eq {
  0% {
    height: 20%;
    opacity: 0.4;
  }
  50% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 30%;
    opacity: 0.5;
  }
}

.animate-eq {
  animation: eq 1s ease-in-out infinite;
}

@keyframes glow {
  0% {
    transform: scale(0.95);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.6;
  }
}

.animate-glow {
  animation: glow 2s ease-in-out infinite;
}
